body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 2em;
    height: 20em;
    width: 30em;
    display: inline-table;
    text-align: center;
}

.nom {
    background: none;
    color: inherit;
    border: none;
    padding: 0.5em;
    font-size: 4em;
}

.boton {
    border: 1px solid #000;
    padding: 1em;
    text-decoration: none;
    border-radius: 0%;
    background-color: white;
}